@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 251 146 60; /* orange-400 */
  }

  ::selection {
    background-color: rgb(var(--accent) / 0.25);
  }

  html {
    scroll-behavior: smooth;
  }
}
